%body
  =render :partial => '/header', :locals => {:text => "Trainlines - the world and train routes"}
  - @routes.each do |route|
    - discontinued = ""
    - unless route.discontinued.nil?
      - discontinued = " [discontinued]"
    - if route.name.nil?
      %p{:style => "padding:0.3em"}= link_to "Unnamed route#{discontinued}", trainline_path(route.id)
    - else
      %p{:style => "padding:0.3em"}= link_to "#{route.name}#{discontinued}", trainline_path(route.id)
  =render :partial => '/footer'