%body
  =render :partial => '/header', :locals => {:text => "Trainlines - the world and train routes"}
  .route
    %p{:style => "padding:0.3em; min-width:600px; display:inline-block;"} Routes
    %p{:style => "display:inline-block; margin-left:4.0em; min-width:4em;"} Stop Count
  - @routes.each do |route|
    - discontinued = ""
    - unless route.discontinued.nil?
      - discontinued = " [discontinued]"

    - stop_count = 0
    - @route_stops.each do |stops|
      - if stops.routes_id == route.id
        - stop_count = stops['stops']
    
    - if route.name.nil?
      .route
        %p{:style => "padding:0.3em; min-width:600px; display:inline-block;"}= link_to "Unnamed route", trainline_path(route.id)
        %p{:style => "display:inline-block; margin-left:2.0em; min-width:4em; text-align:right;"}
          = link_to "#{stop_count}", trainline_path(route.id)
        %p{:style => "display:inline-block;"}
          = link_to "stops", trainline_path(route.id)
          = link_to "#{discontinued}", trainline_path(route.id)
    - else
      .route
        %p{:style => "padding:0.3em; min-width:600px; display:inline-block;"}= link_to "#{route.name}", trainline_path(route.id)
        %p{:style => "display:inline-block; margin-left:2.0em; min-width:4em; text-align:right;"}
          = link_to "#{stop_count}", trainline_path(route.id)
        %p{:style => "display:inline-block;"}
          = link_to "stops", trainline_path(route.id)
          = link_to "#{discontinued}", trainline_path(route.id)
  =render :partial => '/footer'