- @marker_count = 0
- @my_points = ""
- @my_routes_as_lines = ""
- my_first_position = nil
- @geocoded_routes.each do |route|
  - route_line = ""
  - route.each do |stop|
    - if stop[2] == true
      - @my_points = "#{@my_points} png(#{stop[0]},#{stop[1]},'#{stop[3]}');"
      - @marker_count = @marker_count + 1
    - position = "p(#{stop[0]}, #{stop[1]})"
    - my_first_position = position if my_first_position.nil?
    - if route_line.empty?
      - route_line = "#{position}"
    - else
      - route_line = "#{route_line},#{position}"
  - @my_routes_as_lines = "#{@my_routes_as_lines} dl([#{route_line}],map);"
:javascript
  var map;
  var markers = [];
  var counter = 0 ;
  var done = #{@marker_count} ;
  var created ;
 
  function initialize() {
    map = new google.maps.Map(document.getElementById("map_canvas"), { zoom: 8, center: #{my_first_position}, mapTypeId: google.maps.MapTypeId.TERRAIN });
    
    #{@my_points.to_s}

    created = setInterval(create_marker_cluster, 1000)

    #{@my_routes_as_lines.to_s}
  } ;
%body{:onload => "initialize()"}
  - discontinued = ""
  - unless @route.discontinued.nil?
    - discontinued = " [discontinued]"
  - if @route.name.nil?
    =render :partial => '/header', :locals => {:text => (link_to "Unnamed Route#{discontinued}", edit_trainline_path(@route.id))}
  - else
    =render :partial => '/header', :locals => {:text => "#{@route.name}#{discontinued}"}
  #map_canvas
  =render :partial => '/route_footer', :locals => {:id => @route.id, :discontinued => !@route.discontinued.nil?}