%script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true"}
%script{:type => "text/javascript", :src => "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"}
:javascript
  function place_no_geocode(position, title)
  {
    var marker = new google.maps.Marker({ position: position, title: title });
    markers.push(marker);
    counter++;
  };

- @marker_count = 1
- @my_points = ""
- @position = "new google.maps.LatLng(#{@location.lat}, #{@location.lng})"
- @my_points = "place_no_geocode(#{@position}, '#{@stop.name}');"
:javascript
  var map;
  var mc = null;
  var markers = [];
  var counter = 0 ;
  var done = #{@marker_count} ;
  var created ;
 
  function initialize() {
    var myOptions = {
      zoom: 6 ,
      center: #{@position},
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    
    #{@my_points.to_s}
    created = setInterval(create_marker_cluster, 1000)
  } ;

  function create_marker_cluster()
  {
    if (counter == done)
    {
      clearInterval ( created );
      mc = new MarkerClusterer(map, markers);
    }
  };
%body{:onload => "initialize()"}
  =render :partial => '/header', :locals => {:text => "#{@stop.name}"}
  = form_tag(stop_path(@stop.id), :method => :put) do
    = text_field_tag(:new_name, @stop.name)
    %p{:style => "padding-top:0.3em; font-size: 1.0em; margin-left:10%; margin-right:10%; font-style: italic;"}
      = "You can rename a stop and all related routes will be corrected"
    .button
      = submit_tag "Rename", :id => 'verify_save_route'
  #map_canvas{:style=>"width:100%; height:80%"}
  =render :partial => '/footer'