- @marker_count = 1
- @my_points = ""
- @position = "p(#{@location.lat}, #{@location.lng})"
- @my_points = "png(#{@location.lat}, #{@location.lng}, '#{@stop.name}');"
:javascript
  var map;
  var markers = [];
  var counter = 0 ;
  var done = #{@marker_count} ;
  var created ;
 
  function initialize() {
    map = new google.maps.Map(document.getElementById("map_canvas"), { zoom: 10, center: #{@position}, mapTypeId: google.maps.MapTypeId.TERRAIN });

    #{@my_points.to_s}

    created = setInterval(create_marker_cluster, 1000)
  } ;
%body{:onload => "initialize()"}
  =render :partial => '/header', :locals => {:text => "#{@stop.name}"}
  = form_tag(stop_path(@stop.id), :method => :put) do
    = text_field_tag(:new_name, @stop.name)
    %p{:style => "padding-top:0.3em; font-size: 1.0em; margin-left:10%; margin-right:10%; font-style: italic;"}
      = "You can rename a stop and all related routes will be corrected"
    .button
      = submit_tag "Rename", :id => 'verify_save_route'
  #map_canvas{:style=>"width:100%; height:80%"}
  =render :partial => '/footer'