%p{:class => 'footer'}
  this route:
  [
  = link_to "edit", edit_trainline_path(id)
  ,
  - if discontinued
    = link_to "reinstate", reinstate_trainline_path(id), :method => :put
  - else
    = link_to "discontinue", discontinue_trainline_path(id), :method => :put
  ]
  all stops:
  [
  = link_to "browse", stops_path
  ]
  all routes:
  [
  = link_to "add", new_trainline_path
  ,
  = link_to "browse", routes_trainlines_path
  ]
